@font-face {
    font-family: 'MainFont';
    src: url('/public/fonts/DancingScript-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --body-font-size: 1.6vw;
}

body {
    font-family: "MainFont";
    font-size: var(--body-font-size);
}

