:root {
    --additional-info-add-cloth-transition: 1s;
}

.additional-info-add-cloth-start {
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--additional-info-add-cloth-transition);
}

.additional-info-add-cloth-active {
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--additional-info-add-cloth-transition);
}

.additional-info-image {
    width: 2vw;

}

.additional-info-count {
    font-size: 1.25vw;
}