:root {
    --link-height: 8vw;
    --link-width: 8vw;
    --link-indent: 2%;
    --link-start-transition: 0.5s;
    --link-clicked-transition: 1s;
    --link-z-index: 100;
    --link-start-size-hover: scale(1.1);
    --link-clicked-size: scale(1.2);
}

.basket-link-container {
    position: fixed;
    right: var(--link-indent);
    top: var(--link-indent);
    z-index: var(--link-z-index);
}

.basket-link-start {
    height: var(--link-height);
    width: var(--link-width);
    transition: var(--link-start-transition);
}

.basket-link-start:hover {
    cursor: pointer;
    transform: var(--link-start-size-hover);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}


.basket-link-clicked {
    height: var(--link-height);
    width: var(--link-width);
    cursor: pointer;
    transition: var(--link-clicked-transition);
    transform: var(--link-clicked-size);
}