:root {
    --grid-list-settings: repeat(3, minmax(200px, 1fr));
    --list-item-size: 70vh;
}

.product-grid {
    z-index: 99;
    display: grid;
    grid-template-columns: var(--grid-list-settings);
    gap: 16px;
    padding: 16px;
}

