@font-face {
    font-family: 'MainFont';
    src: url('/public/fonts/DancingScript-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --image-link-width: 25vw;
    --body-font-size: 1.6vw;
}

body {
    font-family: "MainFont";
    font-size: var(--body-font-size)
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-direction: column;
}


.image {
    transition: 1s;
}

.start-navigator {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    z-index: 50;
}

.navigator-image-container {
    position: relative;
    width: var(--image-link-width);
    height: var(--image-link-width);
    transition: 1s;
}

.navigator-menu-image-start {
    z-index: 50;
    height: var(--image-link-width);
    width: var(--image-link-width);
    transition: 1s;
}

.overlay-menu {
    position: absolute;
    background-color: rgb(255, 255, 255, 0.5);
    opacity: 0;
    left: 0;
    right: 0;
    transition: opacity 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
    z-index: 100;
}

.navigator-image-container:hover .overlay-menu {
    opacity: 1;
    cursor: pointer;
}

.navigator-image-container:hover .navigator-menu-image {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}