body {
    font-family: "Dancing Script", cursive;
    font-size: 20px;
    transition: 1s;
  }
  
  .smallImage {
      width: 200px;
  }
  
  
  
  .brandLogoContainer:hover .image {
      cursor: pointer;
      transform: scale(1.5);
  }
  
  .container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      flex-direction: column;
  }
  
  
  
  #startNavigator {
      flex-direction: row;
      justify-content: space-around;
      gap: 40px;
  }
  
  .navigatorImageContainer {
      position: relative;
      width: 400px;
      height: 400px;
      transition: 1s;
  }
  
  .navigatorMenuImage {
      height: 400px;
      width: 400px;
      transition: 1s;
  }
  
  .overlayMenu {
      position: absolute;
      background-color: rgb(255, 255, 255,0.5);
      opacity: 0;
      transition: opacity 1s;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      width: 100%;
      height: 100%;
      font-size: 18px;
      font-weight: bold;
      z-index: 100;
  }
  
  .navigatorImageContainer:hover .overlayMenu {
      opacity: 1;
      cursor: pointer;
  }
  
  .navigatorImageContainer:hover .navigatorMenuImage {
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  
  .image {
      transition: 1s;
  }
  
  .image:hover {
      transform: scale(1.2);
      cursor: pointer;
  }
  
  .saleListItem {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 20px;
      align-items: center;
      overflow: hidden;
      text-align: center;
  }
  
  .saleListItem img {
      height: 400px;
      position: relative;
    }
  
  .product-grid {
      display: grid;
      grid-template-columns: repeat(3, minmax(200px, 1fr));
      gap: 16px; 
      padding: 16px;
  }
  
  .saleListItem:hover .overlayMenu {
      opacity: 1;
  }
  
  .saleListItem:hover {
      cursor: pointer;
  }
  
  .saleListElementImageContainer {
      position: relative;
      transition: 1s;
  }
  
  .navigatorImageContainer-clicked {
      opacity: 0;
  }
  
  .rowContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 400px;
      overflow: hidden;
  }
  
  .imagesRowContainer {
      position: relative;
      left: 400px;
      display: flex;
      transition: transform 2s ease;
  }
  
  .imagesRowContainer img {
      width: 400px;
      height: auto;
  }
  
  .slideButton {
      position: relative;
      left: 300px;
      bottom: 350px;
      background: none;
      cursor: pointer;
      width: 120px;
  }
  
  
  .clothInfo {
      position: absolute;
      top: 40%;
      left: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      align-items: center;
      font-size: 40px;
      font-weight: bold;
  }
  
  .addClothButton {
      background-color: rgb(189, 172, 172);
      width: 300px;
      height: 70px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      transition: 1s;
  }
  
  .addClothButton:hover {
      transform: scale(1.2);
  }
  
  .basketImage {
      width: 300px;
  }
  
  .basketImageContainer {
      margin-top: 70px;
  }
  
  .basketTotalAmountContainer {
      margin-top: 200px;
      font-size: 80px;
      font-weight: bold;
  }
  
  
  
  
  
  
  