:root {
    --row-image-width: 45vw;
    --add-cloth-button-size: 8vw;
    --slide-button-size: 5vw;
    --additional-info-font-size: 2vw;
}


.all-cloth-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 5vw;
}

.add-container {
    position: absolute;
    right: 0vw;
    bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4vh;
    align-items: center;
}



