:root {
    --image-link-width: 25vw;
    --transition-all: 1s;
}

.start-navigator {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    z-index: 50;
}

.navigator-image-container-start {
    position: relative;
    width: var(--image-link-width);
    height: var(--image-link-width);
    transition: var(--transition-all);
}

.navigator-image-container-clicked {
    position: relative;
    width: var(--image-link-width);
    height: var(--image-link-width);
    transition: var(--transition-all);
    opacity: 0;
}

.navigator-image-container-clicked img {
    z-index: 50;
    height: var(--image-link-width);
    width: var(--image-link-width);
    transition: var(--transition-all);
    transform: scale(1.5);
}

.navigator-menu-image {
    z-index: 50;
    height: var(--image-link-width);
    width: var(--image-link-width);
    transition: var(--transition-all);
}



.overlay-menu {
    position: absolute;
    background-color: rgb(255, 255, 255, 0.5);
    opacity: 0;
    left: 0;
    right: 0;
    transition: opacity var(--transition-all);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
    z-index: 100;
}

.navigator-image-container-start:hover .overlay-menu {
    opacity: 1;
    cursor: pointer;
}

.navigator-image-container-start:hover .navigator-menu-image {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}