.sale-link-start {
    width: 100px;
    transition: 0.5s;
    z-index: 3;
}

.sale-link-start:hover {
    z-index: 3;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}


.sale-link-clicked {
    width: 100px;
    z-index: 3;
    cursor: pointer;
    transition: 1s;
    transform: scale(1.35);
}

.sale-link-container {
    position: absolute;
    left: 2%;
    top: 2%;
}



